doctype html
html
  head
    title New Book Notification.
  body
    h1 Hi! I wanted to notify you that the new book has been added!
    p Title: #{title}
    p Author: #{author}
    p Year Published: #{year}
    p Thank you for using the Book API.
